@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	text-decoration: none;
}

::root{
	--h1-font: 'Crimson Pro', serif;


}
ul li{
	float: right;
	display: inline-block;
	margin: 1rem;
	font-family:var(--h1-font)
;
}
