@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

* {
	box-sizing: border-box;
}

/*
h1{
	text-align: center;
	text-decoration: none;
}
*/

::root {
	--h1-font: 'Crimson Pro', serif;


}

/*
ul li {
	float: right;
	display: inline-block;
	margin: 1rem;
	font-family: var(--h1-font);
}
*/



body {
	color: #003;
}

img {
	/*	border: 1px solid grey;*/
	border-radius: 2px;
	padding: 5px;
	width: 300px;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, min-max(300px, 1fr));
	grid-gap: 1rem;
	max-width: 1300px;
	grid-template-rows: 1fr;
	margin: 0, auto;

}

li {
	list-style-type: none;
}


/*working on modal*/

button {
	padding: 1rem;
	border-radius: 20px;
	background: var(--color-4);
	text-align: center;
	text-decoration: none;
	font: bold 1.90em/1 "Open Sans", sans-serif;
	letter-spacing: 1px;
	color: white;
	text-transform: uppercase;
	text-shadow: 3px -3px 0px #0374a0;
	transition: all 0.5s ease;
	cursor: pointer;
	margin: 0 1rem 1rem 0;
}

.butt {
	background: pink;
}

button:focus,
button:active,
button:focus-within {
	outline: 0;
	border-radius: 4px;
}

button:hover {
	background-color: var(--link-hover-color);
	/*opacity: 0.5;*/
}

button:active {
	background-color: var(--bg-color);
}


.hide {
	display: none;
}

.modal-background {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	border: 1px solid #7c1f17;
	margin: 1em;
	padding: 2em;

}
